<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="d48b2b89-4897-4798-bd51-cf9763e1c9d0"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d48b2b89-4897-4798-bd51-cf9763e1c9d0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PackagedUnitTests</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PackagedUnitTests.App">
      <uap:VisualElements
        DisplayName="PackagedUnitTests"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="PackagedUnitTests"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <com:Extension Category="windows.comServer">
          <com:ComServer>
            <com:ExeServer Executable="WinGetServer\WindowsPackageManagerServer.exe" DisplayName="Windows Package Manager Server" LaunchAndActivationPermission="O:SYG:SYD:(A;;11;;;WD)(A;;11;;;RC)(A;;11;;;AC)(A;;11;;;AN)S:P(ML;;NX;;;S-1-16-0)">
              <com:Class Id ="74CB3139-B7C5-4B9E-9388-E6616DEA288C" DisplayName="PackageManager Server">
              </com:Class>
              <com:Class Id ="1BD8FF3A-EC50-4F69-AEEE-DF4C9D3BAA96" DisplayName="FindPackagesOptions Server">
              </com:Class>
              <com:Class Id ="EE160901-B317-4EA7-9CC6-5355C6D7D8A7" DisplayName="CreateCompositePackageCatalogOptions Server">
              </com:Class>
              <com:Class Id ="44FE0580-62F7-44D4-9E91-AA9614AB3E86" DisplayName="InstallOptions Server">
              </com:Class>
              <com:Class Id ="3F85B9F4-487A-4C48-9035-2903F8A6D9E8" DisplayName="PackageMatchFilter Server">
              </com:Class>
            </com:ExeServer>
          </com:ComServer>
        </com:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
    <rescap:Capability Name="packageManagement" />
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.Management.Deployment.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.PackageManager" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.PackageMatchFilter" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.CreateCompositePackageCatalogOptions" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.InstallOptions" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.FindPackagesOptions" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>