<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity Name="d48b2b89-4897-4798-bd51-cf9763e1c9d0"
            Publisher="CN=Microsoft Corporation, O=Microsoft Corporation, L=Redmond, S=Washington, C=US"
            Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="d48b2b89-4897-4798-bd51-cf9763e1c9d0" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>PackagedUnitTests</DisplayName>
    <PublisherDisplayName>Microsoft Corporation</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="vstest.executionengine.universal.App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PackagedUnitTests.App">
      <uap:VisualElements
        DisplayName="PackagedUnitTests"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="PackagedUnitTests"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>Microsoft.Management.Deployment.dll</Path>
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.PackageManager" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.PackageMatchFilter" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.CreateCompositePackageCatalogOptions" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.InstallOptions" ThreadingModel="both" />
        <ActivatableClass ActivatableClassId="Microsoft.Management.Deployment.FindPackagesOptions" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>