<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.NETCore.UniversalWindowsPlatform" version="6.2.12" targetFramework="uap10.0" />
  <package id="Microsoft.NET.Test.Sdk" version="16.11.0" targetFramework="uap10.0" />
  <package id="MSTest.TestAdapter" version="2.2.5" targetFramework="uap10.0" />
  <package id="MSTest.TestFramework" version="2.2.5" targetFramework="uap10.0" />
</packages>