# Commit triggers
trigger:
- master

# PR triggers
pr:
  branches:
    include:
    - master
  paths:
    include:
    - azure-pipelines.yml
    - src/*

pool:
  vmImage: 'windows-latest'

variables:
  solution: 'src/AppInstallerCLI.sln'
  buildPlatform: 'x86|x64|ARM'
  buildConfiguration: 'Release'
  appxPackageDir: '$(build.artifactStagingDirectory)\AppxPackages\\'

# Do not set the build version for a PR build.

jobs:
- job: 'GetReleaseTag'
  condition: not(eq(variables['Build.Reason'], 'PullRequest'))
  variables:
    runCodesignValidationInjection: ${{ false }}
    skipComponentGovernanceDetection: ${{ true }}
  steps:
  - task: PowerShell@2
    name: 'GetTag'
    displayName: Get Release Tag
    inputs:
      filePath: 'src\binver\Update-BinVer.ps1'
      arguments: '-OutVar'
      workingDirectory: 'src'

- job: 'Build'
  dependsOn: 'GetReleaseTag'
  condition: always()
  variables:
    BuildVer: $[counter(dependencies.GetReleaseTag.outputs['GetTag.tag'], 1)]
  steps:
  - task: NuGetToolInstaller@1
    displayName: Install Nuget
  
  # Restores all projects, including native (vcxproj) projects
  - task: NuGetCommand@2
    displayName: Restore Packages
    inputs:
      restoreSolution: '$(solution)'
  
  # Restores only .NET core projects, but is still necessary, as without this the IndexCreationTool and LocalhostWebServer projects fail to build
  - task: DotNetCoreCLI@2
    displayName: DotNet Restore
    inputs:
      command: 'restore'
      projects: '**/*.csproj'
  
  - task: PowerShell@2
    displayName: Update Binary Version
    condition: not(eq(variables['Build.Reason'], 'PullRequest'))
    inputs:
      filePath: 'src\binver\Update-BinVer.ps1'
      arguments: '-TargetFile binver\binver\version.h -BuildVersion $(BuildVer)'
      workingDirectory: 'src'
  
  - task: VSBuild@1
    displayName: Build Solution
    inputs:
      platform: 'x86'
      solution: '$(solution)'
      configuration: '$(buildConfiguration)'
      msbuildArgs: '/p:AppxBundlePlatforms="$(buildPlatform)" 
                    /p:AppxPackageDir="$(appxPackageDir)" 
                    /p:AppxBundle=Always 
                    /p:UapAppxPackageBuildMode=StoreUpload'

  - task: PowerShell@2
    displayName: Install Tests Dependencies
    inputs:
      targetType: 'inline'
      script: |
        Add-AppxPackage AppInstallerCLIPackage_0.0.2.0_Test\Dependencies\x86\Microsoft.VCLibs.x86.14.00.Desktop.appx
        Add-AppxPackage AppInstallerCLIPackage_0.0.2.0_Test\Dependencies\x64\Microsoft.VCLibs.x64.14.00.Desktop.appx
      workingDirectory: $(appxPackageDir)

  - task: VisualStudioTestPlatformInstaller@1
    displayName: Prepare VSTest for E2E Tests
    inputs:
      packageFeedSelector: 'nugetOrg'

# TODO: Convert tests to run based on the whether things have worked up to this point

#  - task: CmdLine@2
#    displayName: Run Unit Tests Unpackaged x64
#    inputs:
#      script: |
#        AppInstallerCLITests.exe -logto AICLI-Unpackaged-x64.log -s -r junit -o TEST-AppInstallerCLI-Unpackaged-x64.xml
#      workingDirectory: 'src\x64\Release\AppInstallerCLITests\'
#    condition: succeededOrFailed()
  
#  - task: PublishBuildArtifacts@1
#    displayName: Publish Unit Tests Unpackaged Log x64
#    inputs:
#      PathtoPublish: 'src\x64\Release\AppInstallerCLITests\AICLI-Unpackaged-x64.log'
#      ArtifactName: 'TestPassUnpackagedLog'
#     publishLocation: 'Container'
#    condition: succeededOrFailed()
  
#  - task: PublishBuildArtifacts@1
#    displayName: Publish Unit Tests Unpackaged Output x64
#    inputs:
#      PathtoPublish: 'src\x64\Release\AppInstallerCLITests\TEST-AppInstallerCLI-Unpackaged-x64.xml'
#      ArtifactName: 'TestPassUnpackagedOutput'
#      publishLocation: 'Container'
#    condition: succeededOrFailed()
  
  - task: PowerShell@2
    displayName: Run Unit Tests Packaged x64
    inputs:
      filePath: 'src\AppInstallerCLITests\Run-TestsInPackage.ps1'
      arguments: '-Args "~[pips]" -BuildRoot x64\Release -PackageRoot AppInstallerCLIPackage\bin\x64\Release -LogTarget x64\Release\AICLI-Packaged-x64.log -TestResultsTarget x64\Release\TEST-AppInstallerCLI-Packaged-x64.xml -ScriptWait'
      workingDirectory: 'src'
    condition: succeededOrFailed()
  
  - task: PublishBuildArtifacts@1
    displayName: Publish Unit Tests Packaged Log x64
    inputs:
      PathtoPublish: 'src\x64\Release\AICLI-Packaged-x64.log'
      ArtifactName: 'TestPassPackagedLog'
      publishLocation: 'Container'
    condition: succeededOrFailed()
  
  - task: PublishBuildArtifacts@1
    displayName: Publish Unit Tests Packaged Output x64
    inputs:
      PathtoPublish: 'src\x64\Release\TEST-AppInstallerCLI-Packaged-x64.xml'
      ArtifactName: 'TestPassPackagedOutput'
      publishLocation: 'Container'
    condition: succeededOrFailed()

#  - task: CmdLine@2
#    displayName: Run Unit Tests Unpackaged x86
#    inputs:
#      script: |
#        AppInstallerCLITests.exe -logto AICLI-Unpackaged-x86.log -s -r junit -o TEST-AppInstallerCLI-Unpackaged-x86.xml
#      workingDirectory: 'src\x86\Release\AppInstallerCLITests\'
#    condition: succeededOrFailed()
  
#  - task: PublishBuildArtifacts@1
#    displayName: Publish Unit Tests Unpackaged Log x86
#    inputs:
#      PathtoPublish: 'src\x86\Release\AppInstallerCLITests\AICLI-Unpackaged-x86.log'
#      ArtifactName: 'TestPassUnpackagedLog'
#      publishLocation: 'Container'
#    condition: succeededOrFailed()
  
#  - task: PublishBuildArtifacts@1
#    displayName: Publish Unit Tests Unpackaged Output x86
#    inputs:
#      PathtoPublish: 'src\x86\Release\AppInstallerCLITests\TEST-AppInstallerCLI-Unpackaged-x86.xml'
#      ArtifactName: 'TestPassUnpackagedOutput'
#      publishLocation: 'Container'
#    condition: succeededOrFailed()
  
  - task: PowerShell@2
    displayName: Run Unit Tests Packaged x86
    inputs:
      filePath: 'src\AppInstallerCLITests\Run-TestsInPackage.ps1'
      arguments: '-Args "~[pips]" -BuildRoot x86\Release -PackageRoot AppInstallerCLIPackage\bin\x86\Release -LogTarget x86\Release\AICLI-Packaged-x86.log -TestResultsTarget x86\Release\TEST-AppInstallerCLI-Packaged-x86.xml -ScriptWait'
      workingDirectory: 'src'
    condition: succeededOrFailed()
  
  - task: PublishBuildArtifacts@1
    displayName: Publish Unit Tests Packaged Log x86
    inputs:
      PathtoPublish: 'src\x86\Release\AICLI-Packaged-x86.log'
      ArtifactName: 'TestPassPackagedLog'
      publishLocation: 'Container'
    condition: succeededOrFailed()
  
  - task: PublishBuildArtifacts@1
    displayName: Publish Unit Tests Packaged Output x86
    inputs:
      PathtoPublish: 'src\x86\Release\TEST-AppInstallerCLI-Packaged-x86.xml'
      ArtifactName: 'TestPassPackagedOutput'
      publishLocation: 'Container'
    condition: succeededOrFailed()
  
  - task: PublishTestResults@2
    displayName: Publish Unit Test Results
    inputs:
      testResultsFormat: 'JUnit'
      testResultsFiles: '**/TEST-*.xml'
      failTaskOnFailedTests: true
    condition: succeededOrFailed()

  - task: DownloadSecureFile@1
    name: AppInstallerTest
    displayName: 'Download Source Package Certificate'
    inputs:
      secureFile: 'AppInstallerTest.pfx'

  - task: DownloadSecureFile@1
    name: HTTPSDevCert
    displayName: 'Download Kestrel Certificate'
    inputs:
      secureFile: 'HTTPSDevCert.pfx'

  - task: MSBuild@1
    displayName: Build MSIX Test Installer File
    inputs:
      platform: 'x86'
      solution: 'src/AppInstallerTestMsixInstaller/AppInstallerTestMsixInstaller.wapproj'
      configuration: '$(buildConfiguration)'
      msbuildArguments: '/p:AppxPackageOutput="$(Build.ArtifactStagingDirectory)\AppInstallerTestMsixInstaller.msix"
                         /p:AppxBundle=Never 
                         /p:UapAppxPackageBuildMode=SideLoadOnly 
                         /p:AppxPackageSigningEnabled=false'
    condition: succeededOrFailed()

  - task: PowerShell@2
    displayName: Install Root Certificate
    inputs:
      filePath: 'src\LocalhostWebServer\InstallDevCert.ps1'
      arguments: '-pfxpath $(HTTPSDevCert.secureFilePath) -password microsoft'
    condition: succeededOrFailed()

  - task: PowerShell@2
    displayName: Launch LocalhostWebServer
    inputs:
      filePath: 'src\LocalhostWebServer\Run-LocalhostWebServer.ps1'
      arguments: '-BuildRoot $(system.defaultWorkingDirectory)\src\x86\Release\LocalhostWebServer -StaticFileRoot $(Agent.TempDirectory)\TestLocalIndex -CertPath $(HTTPSDevCert.secureFilePath) -CertPassword microsoft'
    condition: succeededOrFailed()

  - task: VSTest@2
    displayName: Run E2E Tests Packaged x64
    inputs:
      testRunTitle: 'E2E Packaged x64'
      testSelector: 'testAssemblies'
      testAssemblyVer2: 'src\x64\Release\AppInstallerCLIE2ETests\AppInstallerCLIE2ETests.dll'
      runSettingsFile: 'src\x64\Release\AppInstallerCLIE2ETests\Test.runsettings'
      overrideTestrunParameters: '-PackagedContext true
                                  -AICLIPackagePath $(system.defaultWorkingDirectory)\src\AppInstallerCLIPackage\bin\x64\Release
                                  -AICLIPath AppInstallerCLI\AppInstallerCLI.exe
                                  -LooseFileRegistration true
                                  -InvokeCommandInDesktopPackage true
                                  -StaticFileRootPath $(Agent.TempDirectory)\TestLocalIndex
                                  -MsixTestInstallerPath $(Build.ArtifactStagingDirectory)\AppInstallerTestMsixInstaller.msix
                                  -ExeTestInstallerPath $(system.defaultWorkingDirectory)\src\x64\Release\AppInstallerTestExeInstaller\AppInstallerTestExeInstaller.exe
                                  -PackageCertificatePath $(AppInstallerTest.secureFilePath)'
    condition: succeededOrFailed()

  - task: PublishBuildArtifacts@1
    displayName: Publish E2E Tests Packaged x64 Log
    inputs:
      PathtoPublish: 'C:\Users\VssAdministrator\AppData\Local\Temp\E2ETestLogs'
      ArtifactName: 'E2ETestPackagedx64Log'
      publishLocation: 'Container'
    condition: succeededOrFailed()  

  - task: VSTest@2
    displayName: Run E2E Tests Packaged x86
    inputs:
      testRunTitle: 'E2E Packaged x86'
      testSelector: 'testAssemblies'
      testAssemblyVer2: 'src\x86\Release\AppInstallerCLIE2ETests\AppInstallerCLIE2ETests.dll'
      runSettingsFile: 'src\x86\Release\AppInstallerCLIE2ETests\Test.runsettings'
      overrideTestrunParameters: '-PackagedContext true
                                  -AICLIPackagePath $(system.defaultWorkingDirectory)\src\AppInstallerCLIPackage\bin\x86\Release
                                  -AICLIPath AppInstallerCLI\AppInstallerCLI.exe
                                  -LooseFileRegistration true
                                  -InvokeCommandInDesktopPackage true
                                  -StaticFileRootPath $(Agent.TempDirectory)\TestLocalIndex
                                  -MsixTestInstallerPath $(Build.ArtifactStagingDirectory)\AppInstallerTestMsixInstaller.msix
                                  -ExeTestInstallerPath $(system.defaultWorkingDirectory)\src\x86\Release\AppInstallerTestExeInstaller\AppInstallerTestExeInstaller.exe
                                  -PackageCertificatePath $(AppInstallerTest.secureFilePath)'
    condition: succeededOrFailed()
    
  - task: PublishBuildArtifacts@1
    displayName: Publish E2E Tests Packaged x86 Log
    inputs:
      PathtoPublish: 'C:\Users\VssAdministrator\AppData\Local\Packages\WinGetDevCLI_8wekyb3d8bbwe\LocalState\DiagOutputDir'
      ArtifactName: 'E2ETestPackagedx86Log'
      publishLocation: 'Container'
    condition: succeededOrFailed()  

  - task: PublishBuildArtifacts@1
    displayName: Publish CLI Binary
    inputs:
      PathtoPublish: 'src\x64\Release\AppInstallerCLI\AppInstallerCLI.exe'
      ArtifactName: 'AppInstallerCLI.exe'
      publishLocation: 'Container'
  
  - task: PublishBuildArtifacts@1
    displayName: Publish Util Binary
    inputs:
      PathtoPublish: 'src\x64\Release\WinGetUtil\WinGetUtil.dll'
      ArtifactName: 'WinGetUtil.dll'
      publishLocation: 'Container'

  - task: PublishBuildArtifacts@1
    displayName: Publish Util Symbols
    inputs:
      PathtoPublish: 'src\x64\Release\WinGetUtil\WinGetUtil.pdb'
      ArtifactName: 'WinGetUtil.pdb'
      publishLocation: 'Container'
  
  - task: ComponentGovernanceComponentDetection@0
    displayName: Component Governance
    condition: not(eq(variables['Build.Reason'], 'PullRequest'))
    inputs:
      scanType: 'Register'
      verbosity: 'Verbose'
      alertWarningLevel: 'High'