<?xml version="1.0" encoding="utf-8"?>

<RunSettings>
  <!-- Parameters used by tests at run time -->
  <TestRunParameters>
    <Parameter name="PackagedContext" value="true" />
    <Parameter name="VerboseLogging" value="false" />
    <Parameter name="AICLIPath" value="AppInst.exe" />
    <Parameter name="AICLIPackagePath" value="AppInstallerCLIPackage.appxbundle" />
  </TestRunParameters>
</RunSettings>