<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <!-- Redirect both packages.config (C++) and PackageReference (C#) restores to the same local folder. -->
    <add key="repositoryPath" value="packages" />
    <add key="globalPackagesFolder" value="packages" />
  </config>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <disabledPackageSources>
    <clear />
  </disabledPackageSources>
</configuration>